<nav class="blue-grey darken-2">
	<div class="nav-wrapper">
		<div class="col s12">
			<a href="/encuestas" class="breadcrumb">Encuestas</a>
			<a href="/encuestas/<%= @poll.id %>" class="breadcrumb"><%= @poll.title %></a>
			<a class="breadcrumb">Secciones</a>
		</div>
	</div>
</nav>
<br/>
<div class="" ng-controller="seccion" ng-cloak>
	<%= render "partials/alerts" %>
	<blockquote>
		<h3>Lista de secciones</h3>
		<input id="poll" type="hidden" value="<%= @poll.id %>">
	</blockquote>
	<br>
	<ul as-sortable="sortableOptions" ng-model="getSection">
		<span ng-if="getSection.length == 0">
			<div class="card-panel brown lighten-2"><span class="white-text text-darken-2"><center><b>No se ha agregado ninguna sección</b></center></span></div>
		</span>
		<span ng-if="getSection.length > 0">
			<div class="card-panel brown lighten-2"><span class="white-text text-darken-2">
				<div class="row">
					<center>
						<span class="flow-text">
							<a class="waves-effect waves-light btn" ng-click="reload()"><i class="material-icons right">replay</i>Recargar</a>
							<a class="waves-effect waves-light btn" ng-click="updateList(getSection)"><i class="material-icons right">clear_all</i>Editar secciones</a>
						</span>
					</center>
				</div>
			</div>
			<div class="row">
				<%= render "partials/loading" %>
			</div>
		</span>
		<li ng-repeat="obj in getSection" as-sortable-item class="as-sortable-item">
			<div as-sortable-item-handle class="as-sortable-item-handle" style="height:50px">
				<div class="file-field input-field">
					<div class="row">
						<div class="col s8">
							<div class="btn disabled">
								<span><i class="large material-icons">open_with</i></span>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path style-cecna" type="text" placeholder="name" ng-model="obj.attributes.name" style="color: black;font-size: 17px;"  disabled>
							</div>
						</div>
						<div class="col s4">
							<div class="row">
								<div class="col s4">
									<div class="btn green lighten-1">
										<span><a ng-href="/encuestas/{{poll}}/secciones/{{ obj.attributes.id }}" style="color: white;"><i class="large material-icons">live_help</i></a></span>
									</div>
								</div>
								<div class="col s4">
									<div class="btn yellow darken-2">
										<span ng-click="edit(obj)"><i class="large material-icons">mode_edit</i></span>
									</div>
								</div>
								<div class="col s4">
									<div class="btn red  darken-2">
										<span ng-click="destroy(obj,getSection)"><i class="large material-icons">delete</i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<br >
	<div class="input-field">
		<i class="material-icons prefix">toc</i>
		<input type="text" ng-model="CreateData.section.name">
	</div>
	<code>{{ errorMessages.name[0] }}</code>
	<center>
		<span ng-hide="EditSection">
			<button class="btn waves-effect waves-light" ng-click="save(true)">Agregar
				<i class="material-icons right">playlist_add</i>
			</button>
		</span>
		<span ng-show="EditSection">
			<button class="btn waves-effect waves-light" ng-click="save()">Editar
				<i class="material-icons right">mode_edit</i>
			</button>
			<button class="btn waves-effect waves-light" ng-click="cancel()">Cancelar
				<i class="material-icons right">shuffle</i>
			</button>
		</span>
	</center>
</div>