<nav class="blue-grey darken-2">
	<div class="nav-wrapper">
		<div class="col s12">
			<a href="/encuestas" class="breadcrumb">Encuestas</a>
			<a class="breadcrumb"><%= @poll.title %></a>
		</div>
	</div>
</nav>
<br/>
<input id="description" type="hidden" value="<%= @poll.description %>">
<input id="id" type="hidden" value="<%= @poll.id %>">
<div class="row center" ng-controller="pollshow" ng-cloak>
	<%= render "partials/alerts" %>
	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a class="active" href="#test1"><i class="material-icons">list</i> Gestión de la encuesta</a></li>
				<li class="tab col s3"><a href="#test2"><i class="material-icons">visibility</i> Pre visualización</a></li>
				<li class="tab col s3"><a href="#test3"><i class="material-icons">assessment</i> Resultados (<%= @competitors %>)</a></li>
			</ul>
		</div>
		<div id="test1" class="col s12">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s3"><a class="active" href="#test4"><i class="material-icons">settings</i> Configuración de encuesta</a></li>
					<li class="tab col s3"><a href="#test5"><i class="material-icons">mode_edit</i> Editar encuesta</a></li>
				</ul>
			</div>
			<div id="test4" class="col s12">
				
			</div>
			<div id="test5" class="col s12">
				<div class="card-panel white">
					<p> Editar encuesta </p>
					<form ng-submit="edit(UpdateData)">
						<div class="input-field">
							<label for="name" class="">Titulo</label>
							<input type="text" name="title" ng-model="UpdateData.poll.title">
						</div>
						<code>{{ errorMessages.title[0] }}</code>
						<p> Descripción </p>
						<%= cktext_area :poll, :description, :cols => 40, :id => "ckeditor", :name => "ckeditor", :class => "ckeditor", :value => '', :ckeditor => {} %>
						<code>{{ errorMessages.description[0] }}</code>
						<br />
						<div class="row">
							<div class="col s6">
								<div class="input-field">
									<label for="name" class="">Fecha de expiración</label>
									<input type="date" class="datepicker" ng-model="UpdateData.poll.expires_at">
								</div>
								<code>{{ errorMessages.expires_at[0] }}</code>
							</div>
							<div class="col s6">
								<div style="padding-top:5%;padding-left:20%">
									<label for="name" class="">Tema: </label>
									<input id='colorpicker' ng-model="UpdateData.poll.color"/>
								</div>
								<code>{{ errorMessages.color[0] }}</code>
							</div>
						</div>
						<div class="submit">
							<button type="submit" class="btn waves-effect waves-light" value="Go!">Guardar <i class="mdi-content-send right"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="test2" class="col s12">
			<div class="card-panel white">
				<p ng-bind-html="UpdateData.poll.description"></p>
			</div>
			<span ng-repeat="obj in getSection">
				<div class="card-panel white" style="text-align: left;">
					<span class="card-title"><strong>{{ obj.attributes.rank }}  {{ obj.attributes.name }}</strong></span>
					<br/>
					<br/>
					<span ng-repeat="questions in obj.relationships.questions">
						{{ obj.attributes.rank }}.{{ questions.attributes.rank }} {{ questions.attributes.description }}
						<span ng-if="questions.attributes.category == 1">
							<div class="input-field">
								<textarea id="textarea1" class="materialize-textarea"></textarea>
								<label for="textarea1">Ingrese su comentario</label>
							</div>
						</span>
						<span ng-if="questions.attributes.category == 2">
							<p>
								<input type="checkbox" id="test8"  checked="checked" disabled="disabled" />
								<label for="test8">Excelente</label>
							</p>
							<p>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">M. Bueno</label>
							</p>
							<p>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">Bueno</label>
							</p>
							<p>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">Regular</label>
							</p>
						</span>
						<span ng-if="questions.attributes.category == 3">
							<p>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">1</label>
								<input type="checkbox" id="test8" checked="checked"  disabled="disabled" />
								<label for="test8">2</label>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">3</label>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">4</label>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">5</label>
							</p>
						</span>
						<span ng-if="questions.attributes.category == 4">
							<p>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">1</label>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">2</label>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">3</label>
								<input type="checkbox" id="test8" checked="checked" disabled="disabled" />
								<label for="test8">4</label>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">5</label>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">6</label>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">7</label>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">8</label>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">9</label>
								<input type="checkbox" id="test8" disabled="disabled" />
								<label for="test8">10</label>
							</p>
						</span>
						<br/>
					</span>
				</div>
			</span>
		</div>
		<div id="test3" class="col s12">
			<br/>
			<center>
				<i class="large material-icons">person_pin</i>
				<h3>
					( <%= @competitors %> ) Participantes
				</h3>
			</center>
			<span ng-repeat="obj in getSection">
				<div class="card-panel grey lighten-1"><strong>{{obj.attributes.name}}</strong></div>
				<ul class="collapsible popout" data-collapsible="accordion" watch>
					<li ng-repeat="question in obj.relationships.questions">
						<div class="collapsible-header"><i class="material-icons">reorder</i>{{question.attributes.description}}</div>
						<div class="collapsible-body">
							<span ng-if="question.attributes.category == 1">
								<br/>
								<span ng-repeat="answer in question.relationships.answers">
									<span ng-if="answer.attributes.comment != null && answer.attributes.comment != ''">
										<div style="text-align: left; margin-left:10%; margin-right:10%">
											<i class="material-icons">comment</i> {{ answer.attributes.comment }}
										</div>
										<br/>
									</span>
								</span>
							</span>
							<span ng-if="question.attributes.category == 2">
								<div class="row">
									<div class="col s2">-</div>
									<div class="col s2"><h5>{{ Option(question.relationships.answers,1,false) }}%</h5><hr><h5>Excelente</h5></div>
									<div class="col s2"><h5>{{ Option(question.relationships.answers,2,false) }}%</h5><hr><h5>M. Bueno</h5></div>
									<div class="col s2"><h5>{{ Option(question.relationships.answers,3,false) }}%</h5><hr><h5>Bueno</h5></div>
									<div class="col s2"><h5>{{ Option(question.relationships.answers,4,false) }}%</h5><hr><h5>Regular</h5></div>
									<div class="col s2">-</div>
								</div>
								<div class="row">
									<center>
										{{chart(question.attributes.description,question.attributes.id,3,question.relationships.answers)}}
										<div id="{{question.attributes.id}}" style="width: 550px; height: 400px; margin: 0 auto"></div>
									</center>
								</div>
							</span>
							<span ng-if="question.attributes.category == 3">
								<div class="row">
									<div class="col s1">-</div>
									<div class="col s2"><h5>{{ Option(question.relationships.answers,1,false) }}%</h5><hr><h5>1</h5></div>
									<div class="col s2"><h5>{{ Option(question.relationships.answers,2,false) }}%</h5><hr><h5>2</h5></div>
									<div class="col s2"><h5>{{ Option(question.relationships.answers,3,false) }}%</h5><hr><h5>3</h5></div>
									<div class="col s2"><h5>{{ Option(question.relationships.answers,4,false) }}%</h5><hr><h5>4</h5></div>
									<div class="col s2"><h5>{{ Option(question.relationships.answers,5,false) }}%</h5><hr><h5>5</h5></div>
									<div class="col s1">-</div>
								</div>
								<div class="row">
									<center>
										{{chart(question.attributes.description,question.attributes.id,1,question.relationships.answers)}}
										<div id="{{question.attributes.id}}" style="width: 550px; height: 400px; margin: 0 auto"></div>
									</center>
								</div>
							</span>
							<span ng-if="question.attributes.category == 4">
								<div class="row">
									<div class="col s1">-</div>
									<div class="col s1"><h5>{{ Option(question.relationships.answers,1,false) }}%</h5><hr><h5>1</h5></div>
									<div class="col s1"><h5>{{ Option(question.relationships.answers,2,false) }}%</h5><hr><h5>2</h5></div>
									<div class="col s1"><h5>{{ Option(question.relationships.answers,3,false) }}%</h5><hr><h5>3</h5></div>
									<div class="col s1"><h5>{{ Option(question.relationships.answers,4,false) }}%</h5><hr><h5>4</h5></div>
									<div class="col s1"><h5>{{ Option(question.relationships.answers,5,false) }}%</h5><hr><h5>5</h5></div>
									<div class="col s1"><h5>{{ Option(question.relationships.answers,6,false) }}%</h5><hr><h5>6</h5></div>
									<div class="col s1"><h5>{{ Option(question.relationships.answers,7,false) }}%</h5><hr><h5>7</h5></div>
									<div class="col s1"><h5>{{ Option(question.relationships.answers,8,false) }}%</h5><hr><h5>8</h5></div>
									<div class="col s1"><h5>{{ Option(question.relationships.answers,9,false) }}%</h5><hr><h5>9</h5></div>
									<div class="col s1"><h5>{{ Option(question.relationships.answers,10,false) }}%</h5><hr><h5>10</h5></div>
									<div class="col s1">-</div>
								</div>
								<div class="row">
									<center>
										{{chart(question.attributes.description,question.attributes.id,2,question.relationships.answers)}}
										<div id="{{question.attributes.id}}" style="width: 550px; height: 400px; margin: 0 auto"></div>
									</center>
								</div>
							</span>
						</div>
					</li>
				</ul>
				<script type="text/javascript">
					$('.collapsible').collapsible({
						accordion : true
					});
				</script>
			</span>
		</div>
	</div>
</div>